/* table {
    width: 50%;
    margin: auto;
    align-content: center;
    margin-top: 15px;
  }
  
  th.mat-header-cell {
    text-align: left;
    background-color: #e8e8e8;
    font-size: 24px;
  }
   */

   .fieldBlock
    {
    display: block;
    /* background-color: rgb(200, 200, 200); */
    width: 200px;
    margin: auto;
    float: left;
    padding: 30px;
    
    }

.title
    {
    font-weight: bold;
    }

.input
    {
    border: 1px solid gray;
    font-size: 1.1em;
    }

  
   

  